.containerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  margin-bottom: 5x;
  padding-bottom: 10px;
  width: 100%;

  h2 {
    color: #777777;
  }
}

.containerData {
  display: flex;
  justify-content: space-between;
}

.dataAsnumber {
  border-collapse: collapse;
  width: 50%;
}

.dataAsnumber th,
.dataAsnumber td {
  padding: 5px;
}

.dataAsnumber th {
  width: 30%;
  text-align: left;
  background-color: rgb(132, 200, 255);
  border: 3px solid #ffffff;
}

.dataAsnumber td {
  text-align: left;
  background-color: rgb(221, 237, 255);
  border: 3px solid #ffffff;
}

.containerTable {
  border-top: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .containerDownloads {
    display: flex;
    gap: 10px;
  }
}
.containerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: rgb(145, 145, 145);
}

.tableContainer {
  overflow-x: auto;
}

.containerChart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.chartTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  width: 100%;
}

.containerDate {
  display: flex;
}

.chartBottom {
  width: 100%;
  margin-bottom: 15px;
}

.containerDonut {
  width: 49%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f7f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerDonut3 {
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f7f6f6;
  text-align: center;
}

.chartDonut3 {
  margin: 0 auto;
}

.apexcharts-menu-icon {
  display: none;
}

.chartBar {
  padding: 25px;
  background-color: #f7f6f69c;
  border-radius: 5px;
  text-align: center;
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 5px;

  .viewButtonOperator {
    padding: 5px 5px;
    border-radius: 5px;
    color: rgb(18, 18, 165);
    background-color: rgba(0, 0, 139, 0.17);

    cursor: pointer;

    .viewIcon {
      margin-bottom: -6px;
      margin-top: 1px;
    }

    &:hover {
      background-color: rgba(0, 0, 139, 0.267);
      transition: 0.2s;
    }
  }

  .deleteButtonOperator {
    padding: 5px 5px;
    border-radius: 5px;
    color: rgb(255, 50, 50);
    background-color: rgba(255, 50, 50, 0.17);
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 50, 50, 0.267);
      transition: 0.2s;
    }
  }
}

// responsive

@media screen and (max-width: 850px) {
  .containerData {
    flex-direction: column;
  }

  .dataDate,
  .dataAsnumber {
    width: 100%;
  }

  .tableContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
